# Things that may appear in the above directories that we DEFINITELY want to ignore
TAGS

# binaries
*.o

# editor files
*.swp

# tex output
**/latex.out
*.pdf
*.dvi
*.aux
*.fdb_latexmk
*.fls
*.log
*.out

# who even knows
*.nfs*

