# Things that may appear in the above directories that we DEFINITELY want to ignore
TAGS

# binaries
*.o

# editor files
*.swp

# tex output
**/latex.out
*.pdf
*.dvi
*.aux
*.fdb_latexmk
*.fls
*.log
*.out

# who even knows
*.nfs*

.deps/
.dir-locals.el
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.status
configure
libmuze.a
muzec
src/.deps/
src/.dirstamp
tools/