# everything
**

# Except these things
!docs
!docs/*

!include
!include/*

!src
!src/*

!test
!test/*
!test/*/*
!test/*/*/*

!lib
!lib/*

!examples
!examples/*

!Makefile
!SOURCEDEPS
!README.md
!TODO.txt
!.gitignore

# Things that may appear in the above directories that we DEFINITELY want to ignore

# binaries
*.o

# editor files
*.swp

# tex output
**/latex.out
*.pdf
*.dvi
*.aux
*.fdb_latexmk
*.fls
*.log
*.out

# who even knows
*.nfs*

